<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退票表</title>
</head>
<body>
<table border="1px" width="100%" style="border-collapse: collapse;">

    </tr>
        <th>订单号</th>
        <th>乘客账号</th>
        <th>乘客姓名</th>
        <th>乘客身份证号</th>
        <th>车次号</th>
        <th>出发地</th>
        <th>到达地</th>
        <th>发车时间</th>
        <th>到达时间</th>
        <th>价格</th>
        <th>座位类型</th>
        <th>删除时间</th>
    </tr>
    {% for delete in deletes %}
        <tr>
            <td align="center">{{ delete.DINGDANHAO }} </td>
            <td align="center">{{ delete.PASSENGERID }} </td>
            <td align="center">{{ delete.PASSENGERNAME }} </td>
            <td align="center">{{ delete.PASSENGERIDNUM }} </td>
            <td align="center">{{ delete.TRAINID }} </td>
            <td align="center">{{ delete.DAPARTUREPLACE}} </td>
            <td align="center">{{ delete.ARRIVALPLACE}} </td>
            <td align="center">{{ delete.DAPARTURETIME }} </td>
            <td align="center">{{ delete.ARRIVALTIME }} </td>
            <td align="center">{{ delete.PRICE }} </td>
            <td align="center">{{ delete.SEATTYPE }} </td>
            <td align="center">{{ delete.DELETETIME }} </td>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
