<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Administrator</title>
    <link rel="stylesheet" href="/static/common.css">
</head>
<body>

<table border="1px" width="100%" style="border-collapse: collapse;">
    <tr>
    <a><h2 class="a1">管理员您好</h2></a><br>
    <tr>
    <tr>
    <a href="../administrator_information"><h2 class="a2">管理员信息表</h2></a><br>
    <tr>
    <tr>
    <a href="../passenger_information"><h2 class="a2">用户信息表</h2></a><br>
    <tr>
    <tr>
    <a href="../ticket_information"><h2 class="a2">车票信息表</h2></a><br>
    <tr>
    <tr>
    <a href="../ticket_list"><h2 class="a2">车票订单表</h2></a><br>
    <tr>
</table>
</body>
</html>
