<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户查询结果</title>
     <style>
        form {
            margin: 20px auto;
            width: 500px;
            border: 1px solid;
            padding: 20px
        }
    </style>
</head>
<body>
<table border="1px" width="100%" style="border-collapse: collapse;">
    <tr>
        <th>账号</th>
        <th>密码</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>身份证号</th>
        <th>电话</th>
        <th>操作</th>
    </tr>
    {% for passenger in passengers %}
        <tr>
            <td align="center">{{ passenger.ID }} </td>
            <td align="center">{{ passenger.PASSWORD }} </td>
            <td align="center">{{ passenger.NAME }} </td>
            <td align="center">{{ passenger.AGE }} </td>
            <td align="center">{{ passenger.SEX }} </td>
            <td align="center">{{ passenger.IDNUMBER }} </td>
            <td align="center">{{ passenger.TEL }} </td>
            <td align="center">
                <a href="../passenger_edit/?ID={{ passenger.ID}}">
                    编辑
                </a>
                <a href="../passenger_delete/?ID={{ passenger.ID }}">
                    注销
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>